*, *::before, *::after {
	box-sizing: inherit;
}

body {
	counter-reset: slide slide-before slide-current slide-after;
	margin: 0;
	box-sizing: border-box;
	color: var(--fg);
	background-color: var(--bg);
}

.slide {
	width: ~"calc(var(--width) * 1px)";
	height: ~"calc(var(--height) * 1px)";
	overflow: hidden;

	counter-increment: slide slide-before;
	&.current { 
		counter-increment: slide slide-current;
		& ~ .slide {
			counter-increment: slide slide-after;
		}
	}
}

@import "variables.less";
@import "typo.less";
@import "cursor.less" screen;
@import "draw.less" screen;
@import "full.less" screen;
@import "overview.less" screen;
@import "print.less" print;
