@width: 1024;
@height: 768;

*, *::before, *::after {
	box-sizing: inherit;
}

:root {
	counter-reset: slide slide-before slide-current slide-after;
	box-sizing: border-box;
	-moz-tab-size: var(--tab-size);
	tab-size: var(--tab-size);
}

body {
	margin: 0;
}

.slide {
	width: @width*1px;
	height: @height*1px;
	overflow: hidden;
	page-break-after: always;
	-webkit-print-color-adjust: exact;

	counter-increment: slide slide-before;
	&.current { 
		counter-increment: slide slide-current;
		& ~ .slide {
			counter-increment: slide slide-after;
		}
	}

	pre {
		counter-reset: line;
		div {
			counter-increment: line;
			&::before {
				display: inline-block;
				content: counter(line) ". ";
				width: 5ch;
				font-weight: normal;
				text-align: right;
			}
		}
	}
}

@page {
	@page-margin: 0*12px; // largest that works in ff (ignores @page size)
	margin: @page-margin;
	size: @width*1px+2*@page-margin @height*1px+2*@page-margin;
}

@import "variables.less";
@import "typo.less";
@import "cursor.less" screen;
@import "draw.less" screen;
@import "full.less" screen;
@import "overview.less" screen;
