@import "mixins.less";

maslo-slide {
	p.poster {
		margin: 0;
		height: 100%;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	p.questions {
		text-align: center;
		font-size: 500%;
		line-height: 1.5;
		font-weight: bold;
		text-shadow: 0 0 0.1em var(--color, currentColor);
	}

	pre {
		tab-size: var(--tab-size);
		counter-reset: line;

		div::before {
			content: " "; // empty need some content as well to be visible
			display: inline-block;
			text-align: right;
			width: 4ch;
			padding-right: @u;
			font-weight: normal;
		}

		div:not(:empty) {
			counter-increment: line;
			&::before { content: counter(line) "."; }
		}
	}
}
