#cursor {
	@size: 24px;
	position: fixed;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 30, 30, 0.8);
	border-radius: 50%;
	width: @size;
	height: @size;
	z-index: 1;
}

body.cursor {
	cursor: none;
}
