maslo-deck {
	@media screen {
		&[mode=full] {
			display: block;
			width: 100dvw;
			height: 100dvh;

			maslo-slide {
				position: absolute;
				margin: auto;
				inset: 0;
				zoom: var(--scale);

				// display:none breaks counters
				&:not(.current) { visibility: hidden; }
			}

			@media (orientation: portrait) and (max-width: 768px) {
				&::before {
					content: "↻";
					font-weight: bold;
					position: fixed;
					right: 0.5em;
					top: 0.5em;
					font-size: 200%;
				}
			}
		}
	}

	&[mode=overview] {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
		justify-content: space-around;
		background-color: #666;

		--overview-border: 4px;
		--overview-scale: 0.2;
		--thickness: calc(var(--overview-border) / var(--overview-scale));

		maslo-slide {
			zoom: var(--overview-scale);
			background-color: var(--bg);
			border-radius: var(--thickness);
			box-shadow: 0 var(--thickness) calc(2 * var(--thickness)) rgba(0, 0, 0, 0.6);

			&:hover {
				outline: var(--thickness) solid rgba(255, 255, 255, 0.25);
			}

			&.current {
				outline: var(--thickness) solid rgba(255, 255, 255, 0.75);
			}
		}
	}
}
