*, *::before, *::after {
	box-sizing: inherit;
}

body {
	touch-action: none;
	counter-reset: slide slide-before slide-current slide-after;
	margin: 0;
	box-sizing: border-box;
	color: var(--fg);
	background-color: var(--bg);
}

@import "typo.less";
@import "slide.less";
@import "deck.less";
@import "cursor.less" screen;
@import "draw.less" screen;
@import "overview.less" screen;
