body.overview {
	--thickness: calc(var(--overview-border) / var(--overview-scale));
	--offset: calc((1 - var(--overview-scale)) * -1px);

	background-color: #666;
	overflow-x: hidden;

	.slide {
		float: left;
		cursor: pointer;
		background-color: var(--bg);

		transform-origin: 0 0;
		transform: scale(var(--overview-scale));
		margin-left: (2*@u);
		margin-top: (2*@u);
		margin-bottom: calc(var(--height) * var(--offset));
		margin-right: calc(var(--width) * var(--offset));
		border-radius: var(--thickness);

		@shadow: 0 var(--thickness) calc(2 * var(--thickness)) rgba(0, 0, 0, 0.6);
		box-shadow: @shadow;

		&:hover {
			box-shadow: 0 0 0 var(--thickness) rgba(255, 255, 255, 0.25), @shadow;
		}

		&.current {
			box-shadow: 0 0 0 var(--thickness) rgba(255, 255, 255, 0.75), @shadow;
		}
	}
}
