@page {
	margin: 0;
	size: (@width*1px) (@height*1px);
}

.slide {
	position: relative; // anchor for absolute elements; is absolute itself for screen media
	page-break-after: always;
	-webkit-print-color-adjust: exact;
}
