maslo-slide {
	&:not([hidden]) { display: block; }
	width: calc(var(--width) * 1px);
	height: calc(var(--height) * 1px);
	overflow: hidden;

	counter-increment: slide slide-before;
	&.current {
		counter-increment: slide slide-current;
		& ~ .slide {
			counter-increment: slide slide-after;
		}
	}
}
