@import "mixins.less";

@font-face {
	font-family: input;
	font-weight: normal;
	src: url(font/Input-Regular.ttf);
}

@font-face {
	font-family: input;
	font-weight: bold;
	src: url(font/Input-Bold.ttf);
}

@font-face {
	font-family: input;
	font-weight: normal;
	font-style: italic;
	src: url(font/Input-Italic.ttf);
}

@font-face {
	font-family: input;
	font-weight: bold;
	font-style: italic;
	src: url(font/Input-BoldItalic.ttf);
}

body {
	-moz-tab-size: var(--tab-size);
	tab-size: var(--tab-size);

	font-size: (2 * @u);
	line-height: (3/2);
}

li {
	margin: 0.5em 0;
	list-style: none;
	text-indent: calc(-1 * var(--marker-width));

	li { margin-left: (3 * @u); }

	&::before {
		.marker(var(--marker-width));
	}
}

ul, ol {
	padding: 0;
}

ol {
	counter-reset: list-item;
	> li {
		counter-increment: list-item;
		&::before {
			content: counter(list-item) ".";
		}
	}
}

ul > li::before {
	content: var(--marker);
	font-size: 150%;
	vertical-align: sub;
	line-height: 0;
}

pre {
	counter-reset: line;

	div::before { content: ""; } // empty need some content as well to be visible

	div:not(:empty) {
		counter-increment: line;
		&::before {
			.marker(4ch);
			content: counter(line) ".";
			font-weight: normal;
		}
	}
}

code {
	font-size: (1.6 * @u);
	line-height: (3 / 1.6);
	font-family: input, monospace;
	font-weight: bold;
}

a {
	color: var(--link);
	text-decoration: none;
	background: no-repeat linear-gradient(var(--color), var(--color)) 0 100% / 100% calc(1em / 12);
	transition: all 300ms;

	&:focus, &:hover { background-size: 100% 100%; }
}

blockquote {
	p::before { content: open-quote; }
	p::after { content: close-quote; }

	& + p {
		text-align: right;
		&::before { content: "— "; }
	}
}
