@width: 1024;
@height: 768;
@u: 16px;

:root {
	--width: @width;
	--height: @height;
	--scale: 1;
	--current: 0;
	--total: 0;
	--tab-size: 4;
	--brush: 12;
	--highlight: rgba(255, 20, 20, 0.8);

	--overview-scale: 0.3;
	--overview-border: 4px;

	--fg: #000;
	--bg: #fff;
	--link:  #00e;

	--marker: "•";
	--marker-width: (5 * @u);
	--marker-opacity: 0.6;
}
