@width: 1020;
@height: 760;

:root {
	--width: @width;
	--height: @height;
	--scale: 1;
	--current: 0;
	--total: 0;
	--grid: 16px;
	--tab-size: 4;
	--brush: 12;
	--highlight: rgba(255, 20, 20, 0.8);

	--overview-scale: 0.3;
	--overview-border: ~"calc(var(--grid) / 4)";

	--fg: #000;
	--bg: #fff;
	--font: sans-serif;
	--link:  #00e;

	--marker-width: ~"calc(5 * var(--grid))";
	--marker-opacity: 0.6;
}
