@import "../mixins.less";

.google-font("Ubuntu");

maslo-deck[skin=dark] {
	font-family: Ubuntu, sans-serif;
	--bg: #000;
	--fg: #eee;
	--color: hsl(180, 50%, 50%);
	--link: var(--fg);

	@version: "11.10.0";
	@import (less) url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/@{version}/styles/vs2015.min.css");

	::marker {
		color: rgb(255 255 255 / 0.6);
	}

	h1 {
		color: var(--color);
		font-size: 200%;
		margin: 0.375em 0;
		line-height: 1.25;
	}

	pre {
		box-shadow:  -4px 0 0 var(--color);

		@tint: rgba(255, 255, 255, 0.1);
		background-color: @tint;
		div:hover { background-color: @tint; }
	}

	.bg-grid();
	.progress();
	.padding-lr(5);
}

