@import "_include/mixins.less";
@import "_include/input.less";

.font("Ubuntu");
.font("Lora");
.font("Lato");
.hljs("vs2015"); // agate, dracula, gruvbox-dark

:root {
	--bg: #000;
	--fg: #eee;
	--color: hsl(180, 50%, 50%)
}

body {
	font: ubuntu, sans-serif;
}

code {
	font: bold ~"calc(1.6 * var(--grid))" / calc(3 / 1.6) input, monospace;
}

h1 {
	color: var(--color);
	font: 200% / 1;
	margin: 0 0 0.5em 0;
	padding-top: 0.5em; // works with print page breaks
}

a:hover {
	text-decoration-color: var(--color);
}

pre {
	box-shadow: ~"calc(var(--grid) / -4)" 0 0 var(--color);

	@tint: rgba(255, 255, 255, 0.1);
	background-color: @tint;
	div:hover { background-color: @tint; }
}

.slide {
	.bg;

	> * {
		@margin: ~"calc(5 * var(--grid))";
		margin-left: @margin;
		margin-right: @margin;
	}

	> p:first-child {
		margin: 0;
		img {
			display: block;
			object-fit: contain;
		}
	}
}

@media screen {
	body::after {
		font-size: ~"calc(1.25 * var(--grid))";
		content: counter(slide-before, circle-empty) counter(slide-current, circle-full) counter(slide-after, circle-empty);
		color: var(--color);
		display: block;
		text-align: center;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
