@import "../mixins.less";

.google-font("Ubuntu");
.google-font("Lora");
.google-font("Lato");
.hljs("googlecode"); // gruvbox-light, googlecode, vs, xcode

.progress();
.poster();
.padding-lr(5);

:root {
	--fg: #111;
	--bg: #ed9;
	--color: hsl(20, 100%, 20%);
	--font: Lora, serif;
}

h1 {
	color: var(--color);
	font-size: 200%;
	line-height: 1;
	margin: 0 0 0.5em 0;
	padding-top: 0.5em; // works with print page breaks
}

a:hover {
	text-decoration-color: var(--color);
}

pre {
	box-shadow: ~"calc(var(--grid) / -4)" 0 0 var(--color);

	@tint: rgba(0, 0, 0, 0.1);
	background-color: @tint;
	div:hover { background-color: @tint; }
}

