@import "../mixins.less";

.google-font("Ubuntu");
.google-font("Lora");
.google-font("Lato");
.hljs("googlecode"); // gruvbox-light, googlecode, vs, xcode

.progress();
.padding-lr(5);

:root {
	--fg: #111;
	--bg: #ed9;
	--color: hsl(20, 100%, 20%);
	--link: var(--fg);
}

::marker {
	color: rgb(0 0 0 / 0.6);
}

body {
	font-family: Lora, serif;
}

h1 {
	color: var(--color);
	font-size: 200%;
	margin: 0.375em 0;
	line-height: 1.25;
}

a:hover, a:focus {
	color: var(--bg);
}

pre {
	box-shadow: -4px 0 0 var(--color);

	@tint: rgba(0, 0, 0, 0.1);
	background-color: @tint;
	div:hover { background-color: @tint; }
}

