@import "../mixins.less";

.hljs("googlecode"); // gruvbox-light, googlecode, vs, xcode
.padding-lr(5);

:root {
	--bg: #fff;
	--fg: #141313;
	--seznam: #de0000;
	--font: Arial, sans-serif;
	--marker-opacity: 1;
}

h1 {
	color: var(--seznam);
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: ~"calc(40px * var(--scale))";
	background-color: var(--seznam);
	color: var(--bg);
}

/* pismo 40/24/14 */