@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700|Ubuntu+Mono:400,700&subset=latin,latin-ext");
// @import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/agate.min.css");
// @import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/darcula.min.css");
//@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/gruvbox-dark.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs2015.min.css");

@import "input.less";

@cyan: hsl(180, 50%, 50%);

body {
	font-family: ubuntu, sans-serif;
	color: #ddd;
	@media screen {
		background: ~"url(bg-cyan.jpg) #000 0 0 / 100vw 100vh";
	}
}

code {
	font-weight: bold;
	font-size: 87.5%;
	font-family: input, monospace;
}

h1 {
	color: @cyan;
	font-size: 200%;
	margin: 1rem 0;
}

a, code {
	color: #eee;
}

a:hover {
	text-decoration-color: @cyan;
}

li {
	margin: 0.5em 0;
	line-height: 1.3;
}

pre {
	@bg: rgba(255, 255, 255, 0.1);
	padding: 0.25em 0;
	line-height: 1.5;
	margin-bottom: 0.5em;
	border-left: 0.15em solid @cyan;
	background-color: @bg;

	div {
		&::before {
			display: inline-block;
			content: counter(line) ". ";
			width: 5ch;
			font-weight: normal;
			text-align: right;
			opacity: 0.5;
		}

		&:hover {
			background-color: @bg;
		}
	}
}

.slide {
	border: 1px solid transparent; // chrome hack in order to print correctly

	> * {
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}


	> p:first-child {
		margin: 0;
		img {
			display: block;
			object-fit: contain;
		}
	}

	@media print {
		background: ~"url(bg-cyan.jpg) #000 center/cover";
	}
}
