*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  counter-reset: slide slide-before slide-current slide-after;
  box-sizing: border-box;
  -moz-tab-size: var(--tab-size);
  tab-size: var(--tab-size);
  font-size: calc(var(--grid) * 4px);
}
body {
  margin: 0;
}
.slide {
  width: 1024px;
  height: 768px;
  overflow: hidden;
  page-break-after: always;
  -webkit-print-color-adjust: exact;
  counter-increment: slide slide-before;
}
.slide.current {
  counter-increment: slide slide-current;
}
.slide.current ~ .slide {
  counter-increment: slide slide-after;
}
.slide pre {
  counter-reset: line;
}
.slide pre div {
  counter-increment: line;
}
.slide pre div::before {
  display: inline-block;
  content: counter(line) ". ";
  width: 5ch;
  font-weight: normal;
  text-align: right;
}
@page {
  margin: 12px;
  size: 1048px 792px;
}
:root {
  --width: 1024;
  --height: 768;
  --scale: 1;
  --current: 0;
  --total: 0;
  --grid: 8;
  --tab-size: 4;
  --thickness: 12;
  --highlight: rgba(255, 20, 20, 0.8);
  --fg: #fff;
  --bg: #000;
}
body {
  line-height: calc(1.5);
}
li {
  margin: 0.5em 0;
}
@media screen {
  #cursor {
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: var(--highlight);
    border-radius: 50%;
    width: calc(1.5px * var(--thickness));
    height: calc(1.5px * var(--thickness));
    z-index: 1;
  }
  body.cursor {
    cursor: none;
  }
}
@media screen {
  #draw {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
  }
}
@media screen {
  body.full .slide {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
  }
  body.full .slide:not(.current) {
    visibility: hidden;
  }
}
@media screen and (orientation: portrait) and (max-width: 768px) {
  body.full::before {
    content: "↻";
    font-weight: bold;
    position: fixed;
    right: 0.5em;
    top: 0.5em;
    font-size: 200%;
  }
}
@media screen {
  body.overview {
    background-color: #666;
  }
  body.overview .slide {
    float: left;
    transform-origin: 0 0;
    transform: scale(0.3);
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: -537.6px;
    margin-right: -716.8px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    cursor: pointer;
  }
  body.overview .slide:hover {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.25);
  }
  body.overview .slide.current {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.75);
  }
}
