*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  touch-action: none;
  counter-reset: slide slide-before slide-current slide-after;
  margin: 0;
  box-sizing: border-box;
  color: var(--fg);
  background-color: var(--bg);
}
:root {
  --width: 1024;
  --height: 768;
  --aspect-ratio: 4 / 3;
  --scale: 1;
  --current: 0;
  --total: 0;
  --tab-size: 4;
  --brush: 12;
  --highlight: rgba(255, 20, 20, 0.8);
  --overview-scale: 0.3;
  --overview-border: 4px;
  --fg: #000;
  --bg: #fff;
  --link: #00e;
}
@font-face {
  font-family: input;
  font-weight: normal;
  src: url(font/Input-Regular.ttf);
}
@font-face {
  font-family: input;
  font-weight: bold;
  src: url(font/Input-Bold.ttf);
}
@font-face {
  font-family: input;
  font-weight: normal;
  font-style: italic;
  src: url(font/Input-Italic.ttf);
}
@font-face {
  font-family: input;
  font-weight: bold;
  font-style: italic;
  src: url(font/Input-BoldItalic.ttf);
}
body {
  -moz-tab-size: var(--tab-size);
  tab-size: var(--tab-size);
  font-size: 32px;
  line-height: 1.5;
}
li {
  margin: 0.5em 0;
}
pre {
  counter-reset: line;
}
pre div::before {
  content: " ";
  display: inline-block;
  text-align: right;
  width: 4ch;
  padding-right: 16px;
  opacity: var(--marker-opacity);
  font-weight: normal;
}
pre div:not(:empty) {
  counter-increment: line;
}
pre div:not(:empty)::before {
  content: counter(line) ".";
}
code {
  font-size: 25.6px;
  line-height: 1.875;
  font-family: input, monospace;
  font-weight: bold;
}
a {
  color: var(--link);
  text-decoration: none;
  background: no-repeat linear-gradient(var(--color), var(--color)) 0 100% / 100% calc(1em / 12);
  transition: background-size 300ms, color 300ms;
}
a:focus,
a:hover {
  background-size: 100% 100%;
}
blockquote p::before {
  content: open-quote;
}
blockquote p::after {
  content: close-quote;
}
blockquote + p {
  text-align: right;
}
blockquote + p::before {
  content: "— ";
}
maslo-slide {
  display: block;
  width: calc(var(--width) * 1px);
  aspect-ratio: var(--aspect-ratio);
  overflow: hidden;
  counter-increment: slide slide-before;
}
maslo-slide.current {
  counter-increment: slide slide-current;
}
maslo-slide.current ~ .slide {
  counter-increment: slide slide-after;
}
maslo-slide p.poster {
  margin: 0;
  height: 100%;
}
maslo-slide p.poster img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
maslo-slide p.questions {
  text-align: center;
  font-size: 500%;
  line-height: 1.5;
  font-weight: bold;
  text-shadow: 0 0 0.1em var(--color, currentColor);
}
@media print {
  maslo-slide {
    position: relative;
    page-break-after: always;
    -webkit-print-color-adjust: exact;
  }
}
@media screen {
  maslo-deck[mode=full] {
    display: block;
    width: 100dvw;
    height: 100dvh;
  }
  maslo-deck[mode=full] maslo-slide {
    position: absolute;
    margin: auto;
    inset: 0;
    zoom: var(--scale);
  }
  maslo-deck[mode=full] maslo-slide:not(.current) {
    visibility: hidden;
  }
}
@media screen and (orientation: portrait) and (max-width: 768px) {
  maslo-deck[mode=full]::before {
    content: "↻";
    font-weight: bold;
    position: fixed;
    right: 0.5em;
    top: 0.5em;
    font-size: 200%;
  }
}
maslo-deck[mode=overview] {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-around;
  background-color: #666;
  --overview-border: 4px;
  --overview-scale: 0.2;
  --thickness: calc(var(--overview-border) / var(--overview-scale));
}
maslo-deck[mode=overview] maslo-slide {
  zoom: var(--overview-scale);
  background-color: var(--bg);
  border-radius: var(--thickness);
  box-shadow: 0 var(--thickness) calc(2 * var(--thickness)) rgba(0, 0, 0, 0.6);
}
maslo-deck[mode=overview] maslo-slide:hover {
  outline: var(--thickness) solid rgba(255, 255, 255, 0.25);
}
maslo-deck[mode=overview] maslo-slide.current {
  outline: var(--thickness) solid rgba(255, 255, 255, 0.75);
}
@media screen {
  #cursor {
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: var(--highlight);
    border-radius: 50%;
    width: calc(1.5px * var(--brush));
    height: calc(1.5px * var(--brush));
    z-index: 1;
  }
  body.cursor {
    cursor: none;
  }
}
@media screen {
  #draw {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
  }
}
