.hljs(@name) {
	@version: "9.12.0";
	@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/@{version}/styles/@{name}.min.css");
}

.bg {
	@O: ~"calc(2px*var(--grid) - 1px)";
	@pattern: transparent 0, transparent @O, var(--color) @O, var(--color) ~"calc(@{O} + 1px)";

	background: var(--bg);
	background-image: 
		radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)),
		repeating-linear-gradient(to right, @pattern),
		repeating-linear-gradient(to bottom, @pattern)
	;
}

.font(@name, @widths: "400,400i,700,700i") {
	@import url("https://fonts.googleapis.com/css?family=@{name}:@{widths}&subset=latin,latin-ext");
}

@counter-style circle-empty {
	system: additive;
	additive-symbols: 1 "○", 0 "";
}

@counter-style circle-full {
	system: additive;
	additive-symbols: 1 "●", 0 "";
}
