@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&subset=latin,latin-ext");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs2015.min.css");
.bg {
  background: #000;
  background-image: radial-gradient(rgba(0, 0, 0, 0.6), #000000), repeating-linear-gradient(to right, rgba(64, 191, 191, 0.2) 0, rgba(64, 191, 191, 0.2) 16px, #40bfbf 16px, #40bfbf 17px), repeating-linear-gradient(to bottom, rgba(64, 191, 191, 0.2) 0, rgba(64, 191, 191, 0.2) 16px, #40bfbf 16px, #40bfbf 17px);
}
@counter-style circle-empty {
  system: additive;
  additive-symbols: 1 "○", 0 "";
}
@counter-style circle-full {
  system: additive;
  additive-symbols: 1 "●", 0 "";
}
@font-face {
  font-family: input;
  font-weight: normal;
  src: url(font/Input-Regular.ttf);
}
@font-face {
  font-family: input;
  font-weight: bold;
  src: url(font/Input-Bold.ttf);
}
@font-face {
  font-family: input;
  font-weight: normal;
  font-style: italic;
  src: url(font/Input-Italic.ttf);
}
@font-face {
  font-family: input;
  font-weight: bold;
  font-style: italic;
  src: url(font/Input-BoldItalic.ttf);
}
body {
  font-family: ubuntu, sans-serif;
  color: #dddddd;
  background-color: #000;
}
code {
  font-weight: bold;
  font-size: 87.5%;
  font-family: input, monospace;
}
h1 {
  color: #40bfbf;
  font-size: 200%;
  margin: 0 0 1rem 0;
  padding-top: 1rem;
}
a,
code {
  color: #eeeeee;
}
a:hover {
  text-decoration-color: #40bfbf;
}
pre {
  padding: 0.25em 0;
  border-left: 0.15em solid #40bfbf;
  background-color: rgba(255, 255, 255, 0.1);
}
pre div::before {
  opacity: 0.5;
}
pre div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.slide {
  background: #000;
  background-image: radial-gradient(rgba(0, 0, 0, 0.6), #000000), repeating-linear-gradient(to right, rgba(64, 191, 191, 0.2) 0, rgba(64, 191, 191, 0.2) 16px, #40bfbf 16px, #40bfbf 17px), repeating-linear-gradient(to bottom, rgba(64, 191, 191, 0.2) 0, rgba(64, 191, 191, 0.2) 16px, #40bfbf 16px, #40bfbf 17px);
}
.slide > * {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.slide > p:first-child {
  margin: 0;
}
.slide > p:first-child img {
  display: block;
  object-fit: contain;
}
body.overview .slide {
  border-radius: 16px;
}
body.overview .slide:hover {
  box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.3);
}
body.overview .slide.current {
  box-shadow: 0 0 0 16px #40bfbf;
}
@media screen {
  body::after {
    font-size: 62.5%;
    content: counter(slide-before, circle-empty) counter(slide-current, circle-full) counter(slide-after, circle-empty);
    color: #40bfbf;
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
