@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&subset=latin,latin-ext");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs2015.min.css");
.bg {
  background: var(--bg);
  background-image: radial-gradient(rgba(0, 0, 0, 0.75), #000000), repeating-linear-gradient(to right, var(--color) 0, var(--color) 1px, transparent 1px, transparent var(--grid)), repeating-linear-gradient(to bottom, var(--color) 0, var(--color) 1px, transparent 1px, transparent var(--grid));
  background-position: 0 calc(var(--grid) / 2);
}
@counter-style circle-empty {
  system: additive;
  additive-symbols: 1 "○", 0 "";
}
@counter-style circle-full {
  system: additive;
  additive-symbols: 1 "●", 0 "";
}
@font-face {
  font-family: input;
  font-weight: normal;
  src: url(font/Input-Regular.ttf);
}
@font-face {
  font-family: input;
  font-weight: bold;
  src: url(font/Input-Bold.ttf);
}
@font-face {
  font-family: input;
  font-weight: normal;
  font-style: italic;
  src: url(font/Input-Italic.ttf);
}
@font-face {
  font-family: input;
  font-weight: bold;
  font-style: italic;
  src: url(font/Input-BoldItalic.ttf);
}
:root {
  --bg: #000;
  --fg: #eee;
  --color: #40bfbf;
}
body {
  font-family: ubuntu, sans-serif;
  color: var(--fg);
  background-color: var(--bg);
}
code {
  font-family: input, monospace;
  font-weight: bold;
  font-size: calc(1.6 * var(--grid));
  line-height: calc(1.875);
}
h1 {
  color: var(--color);
  font-size: 200%;
  line-height: 1;
  margin: 0 0 0.5em 0;
  padding-top: 0.5em;
}
a:hover {
  text-decoration-color: var(--color);
}
pre {
  border-left: calc(var(--grid) / 4) solid var(--color);
  background-color: rgba(255, 255, 255, 0.1);
}
pre div::before {
  opacity: 0.5;
}
pre div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.slide {
  background: var(--bg);
  background-image: radial-gradient(rgba(0, 0, 0, 0.75), #000000), repeating-linear-gradient(to right, var(--color) 0, var(--color) 1px, transparent 1px, transparent var(--grid)), repeating-linear-gradient(to bottom, var(--color) 0, var(--color) 1px, transparent 1px, transparent var(--grid));
  background-position: 0 calc(var(--grid) / 2);
}
.slide > * {
  margin-left: calc(4 * var(--grid));
  margin-right: calc(4 * var(--grid));
}
.slide > p:first-child {
  margin: 0;
}
.slide > p:first-child img {
  display: block;
  object-fit: contain;
}
@media screen {
  body::after {
    font-size: 62.5%;
    content: counter(slide-before, circle-empty) counter(slide-current, circle-full) counter(slide-after, circle-empty);
    color: var(--color);
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
