@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&subset=latin,latin-ext");
@counter-style circle-empty {
  system: additive;
  additive-symbols: 1 "○", 0 "";
}
@counter-style circle-full {
  system: additive;
  additive-symbols: 1 "●", 0 "";
}
@media screen {
  maslo-deck::after {
    font-size: 20px;
    content: counter(slide-before, circle-empty) counter(slide-current, circle-full) counter(slide-after, circle-empty);
    color: var(--color);
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
maslo-deck[skin=light] {
  --fg: #111;
  --bg: #ed9;
  --color: hsl(20, 100%, 20%);
  --link: var(--fg);
  font-family: Lora, serif;
}
maslo-deck[skin=light] pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
maslo-deck[skin=light] code.hljs {
  padding: 3px 5px;
}
maslo-deck[skin=light] .hljs {
  background: #fff;
  color: #000;
}
maslo-deck[skin=light] .hljs-comment,
maslo-deck[skin=light] .hljs-quote {
  color: #800;
}
maslo-deck[skin=light] .hljs-keyword,
maslo-deck[skin=light] .hljs-name,
maslo-deck[skin=light] .hljs-section,
maslo-deck[skin=light] .hljs-selector-tag,
maslo-deck[skin=light] .hljs-title {
  color: #008;
}
maslo-deck[skin=light] .hljs-template-variable,
maslo-deck[skin=light] .hljs-variable {
  color: #660;
}
maslo-deck[skin=light] .hljs-regexp,
maslo-deck[skin=light] .hljs-selector-attr,
maslo-deck[skin=light] .hljs-selector-pseudo,
maslo-deck[skin=light] .hljs-string {
  color: #080;
}
maslo-deck[skin=light] .hljs-bullet,
maslo-deck[skin=light] .hljs-link,
maslo-deck[skin=light] .hljs-literal,
maslo-deck[skin=light] .hljs-meta,
maslo-deck[skin=light] .hljs-number,
maslo-deck[skin=light] .hljs-symbol {
  color: #066;
}
maslo-deck[skin=light] .hljs-attr,
maslo-deck[skin=light] .hljs-built_in,
maslo-deck[skin=light] .hljs-doctag,
maslo-deck[skin=light] .hljs-params,
maslo-deck[skin=light] .hljs-title,
maslo-deck[skin=light] .hljs-type {
  color: #606;
}
maslo-deck[skin=light] .hljs-attribute,
maslo-deck[skin=light] .hljs-subst {
  color: #000;
}
maslo-deck[skin=light] .hljs-formula {
  background-color: #eee;
  font-style: italic;
}
maslo-deck[skin=light] .hljs-selector-class,
maslo-deck[skin=light] .hljs-selector-id {
  color: #9b703f;
}
maslo-deck[skin=light] .hljs-addition {
  background-color: #baeeba;
}
maslo-deck[skin=light] .hljs-deletion {
  background-color: #ffc8bd;
}
maslo-deck[skin=light] .hljs-doctag,
maslo-deck[skin=light] .hljs-strong {
  font-weight: 700;
}
maslo-deck[skin=light] .hljs-emphasis {
  font-style: italic;
}
maslo-deck[skin=light] ::marker {
  color: rgba(0, 0, 0, 0.6);
}
maslo-deck[skin=light] h1 {
  color: var(--color);
  font-size: 200%;
  margin: 0.375em 0;
  line-height: 1.25;
}
maslo-deck[skin=light] a:hover,
maslo-deck[skin=light] a:focus {
  color: var(--bg);
}
maslo-deck[skin=light] pre {
  box-shadow: -4px 0 0 var(--color);
  background-color: rgba(0, 0, 0, 0.1);
}
maslo-deck[skin=light] pre div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
maslo-deck[skin=light] maslo-slide > * {
  margin-left: 80px;
  margin-right: 80px;
}
maslo-deck[skin=light] maslo-slide > ul,
maslo-deck[skin=light] maslo-slide > ol {
  margin-left: 0;
  padding-left: 80px;
}
